/*
Name: 			AdminPopular
Written by: 	CodePopular
Theme Version:	1.0.0

*/

:root {
    --admin-sidebar-color: #f2f6fc;
    --btn-badge-bg: #fa3e3e;
    --hover-color: #0c1f33;
    --sidebar-bullet-color: #b9b9e0;
    --primary:#6861ce
}


/*=================================
    Header
=================================*/

.adminpopular-header {
    background: #6861ce;
}

.adminpopular-header a {
    color: #ffffff
}

.adminpopular-toggle-sidebar {
    color: #ffffff;
    background-color: rgba(255, 255, 255, .1);
}

.adminpopular-logo {
    color: #fff;
}

.adminpopular-logo .adminpopular-logo-name {
    border-left: solid 1px #fff
}

.adminpopular-header-navigation>li>a {
    color: #ffffff;
}

.adminpopular-header-navigation>li>a.active {
    box-shadow: inset 0 -2px 0 0 #fff
}

.adminpopular-header-submenu {
    background-color: #fff;
}

.adminpopular-sidebar-navi>ul ul li {
    position: relative
}

.adminpopular-sidebar-navi>ul ul li:before {
    background: var(--sidebar-bullet-color);
}

.adminpopular-sidebar-navi>ul ul li:after {
    border-left: 1px solid var(--sidebar-bullet-color);
}

.adminpopular-notify-header {
    background-color: #f4f4f4
}

.adminpopular-notify-tab .nav {
    border-bottom: solid 1px #eee
}

.adminpopular-notify-tab .nav li a:hover {
    background-color: transparent;
    border-bottom: solid 1px #9d50bb
}

.adminpopular-notify-tab .nav li a.active {
    border-bottom: solid 1px #9d50bb;
    color: #9d50bb
}

.adminpopular-header-submenu ul li a {
    color: #444;
}

.adminpopular-header-submenu ul li a:hover {
    background-color: #eee
}

.adminpopular-header-right.adminpopular-with-seperator .adminpopular-header-navigation li {
    border-left: solid 1px rgba(255, 255, 255, .1)
}

.button__badge {
    background-color: var(--btn-badge-bg);
    color: #fff;
}


/*=================================
    Search Bar
=================================*/

.adminpopular-search-bar {
    background: var(--admin-sidebar-color)
}

.adminpopular-search-input {
    font-family: inherit;
    background: #fff;
    border: 1px solid #eee;
    color: #333333;
}

.adminpopular-search-input::placeholder {
    color: #fff;
}

.adminpopular-search-input:-ms-input-placeholder {
    color: #fff
}

.adminpopular-search-input::-ms-input-placeholder {
    color: #fff
}

.adminpopular-search-input:focus {
    background-color: rgba(255, 255, 255, .3)
}

.adminpopular-search-submit {
   
    background: #6861ce;
    color: #fff;
}

.adminpopular-search-submit:hover,
.adminpopular-search-submit:focus,
.adminpopular-search-submit:active{
    background: #6861ce;
    outline: 0;
}
.adminpopular-search-close {
    color:red;
}

/*=================================
    Admin Sidebar
=================================*/

.adminpopular-sidebar {
    background-color: var(--admin-sidebar-color);
    color: var(--primary)
}


.adminpopular-sidebar-wrapper::-webkit-scrollbar-thumb {
    background: #f37319
}

.adminpopular-sidebar-wrapper::-webkit-scrollbar-track {
    background: #455a64
}

.adminpopular-sidebar-logo {
    border-bottom: solid 1px #cfd8dc
}

.adminpopular-sidebar-user {
    color: #fff;
}

.adminpopular-sidebar-navi .adminpopular-seperate {
    background-color: #cfd8dc
}



.adminpopular-sidebar-navi a {
    color: #333333;
}

.adminpopular-sidebar-navi ul li.active>a,
.adminpopular-sidebar-navi ul li>a:hover,
.adminpopular-sidebar-navi ul li>a:focus {
    background-color: #e2e2f5;
    border-left-color: #00acf0;
}

.adminpopular-sidebar-navi>ul>li>ul>li.active>a {
    background-color: #e2e2f5;
}

.adminpopular-sidebar-navi ul li.active>a {
    color: #333;
}

.adminpopular-sidebar-user p {
    color: #333;
}

